.MuiFormControl-root.row,
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.button-row {
  justify-content: space-around;
}

.container {
  display: flex;
  width: 80%;
  margin: 30px auto;
}

.token-container {
  flex-grow: 3;
}

form {
  flex-grow: 1;
}

.MuiInputBase-formControl {
  margin: 0px !important;
}

.token-row {
  display: flex;
}

.token-content {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  align-content: center;
  margin: 5px;
  color: white;
}

.blue {
  background: blue;
}

.red {
  background: red;
}